@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.about {
  min-height: 600px;

  @include respond(tab-port) {
    padding: unset;
  }

  &__info {
    padding: 80px;
    @include flexBox($align: center, $justify: space-between);
    @include respond(tab-port) {
      padding: 10px;
      @include flexBox($direction: column);
    }

    .info {
      &-left {
        @include flexBox($direction: column, $justify: flex-start);
        @include respond(tab-port) {
          @include flexBox($align: center);
        }

        > button {
          font-family: 'DM Sans';
          width: 150px;
          height: 48px;
          background: rgba(69, 81, 116, 0.8);
          border-radius: 5px;
          font-size: $font-size-medium;
          font-weight: 500;
          border: unset;
          @include flexBox($align: center, $justify: center);
          cursor: pointer;

          > a {
            color: #fff;
            text-decoration: none;
          }
        }

        .position {
          font-size: $font-size-large;
          font-weight: 500;
          line-height: 26px;
          color: $color-text-base;
          font-family: 'DM Sans';
          padding: 22px 0px;
          display: flex;
        }

        .info {
          font-weight: 700;
          font-size: 53px;
          font-family: 'DM Sans';
          line-height: 69px;
          padding: unset;
          @include respond(tab-port) {
            font-size: 30px;
          }
        }

        .list-social {
          margin-top: 43px;
          display: flex;

          > a {
            margin-right: 33px;
          }
        }
      }

      &-right {
        width: 502px;
        height: 502px;
        background: rgba(30, 29, 29, 0.2);
        border: 1px solid #a6bcfa;
        border-radius: 50%;

        > svg {
          margin-left: 60px;
        }

        @include flexBox($align: center, $justify: center);
        @include respond(tab-port) {
          width: 300px;
          height: 300px;
          margin-top: 70px;

          > svg {
            width: 300px;
            height: 250px;
            margin-left: 30px;
          }
        }
      }
    }
  }

  &__programing {
    margin-top: 113px;
    width: 100%;

    .slick-initialized .slick-slide {
      @include flexBox($align: center, $justify: center);
    }
  }
}
