$bg-theme-light: #dbdbdb;
$bg-theme-dark: #222;

$color-text-light: #455174;
$color-text-dark: #fff;
$color-text-base: #828282;

// Fontsize
$font-size-small: 12px;
$font-size-primary: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;

//Font-weight
$font-weight-primary: 600;
