@import './styles/variables.scss';
@import './styles/mixins.scss';

.App {
  transition: background 0.5s;

  &.theme {
    &--light {
      background: $bg-theme-light;
    }

    &--dark {
      background: $bg-theme-dark;
    }
  }

  .text {
    &--light {
      color: $color-text-light;
    }
    &--dark {
      color: $color-text-dark;
    }
  }
}
