@import './styles/variables.scss';

.App {
  text-align: center;
  &.theme {
    &--light {
      background-color: $bg-theme-light;
    }

    &--dark {
      background-color: $bg-theme-dark;
    }
  }
}
